@use "../../styles/partials/resets";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

#portfolio {
    height: 70vh;

    @include tablet {
        height: initial;
    }

    @include mobile {
        margin-top: 25rem;
    }
}

.portfolio {

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem;
    }

    &__item {
        background: $color-bg-variant;
        padding: 1.2rem;
        border-radius: 2rem;
        border: 1px solid transparent;
        transition: $transition;

        &-image {
            max-height: 25rem;
            width: auto;
            border-radius: 1.5rem;
            overflow: hidden;

            @include tablet {
                max-height: 10rem;
            }

            @include mobile {
                max-height: 15rem;
                width: 150px;
            }
        }

        &-cta {
            display: flex;
            gap: 1rem;
            margin-bottom: 1rem;

            @include mobile {
                gap: 0;
            }
        }

        & h3 {
            margin: 1.2rem 0 2rem;
            cursor: default;

            @include mobile {
                width: 50%;
                font-size: 2rem;
            }
        }

        &:hover {
            border-color: $color-bg;
            background: transparent;
        }
    }
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
}

.swiper-wrapper {
    margin-bottom: 2rem;
    padding-bottom: 2rem;

}
